body {
background:red;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: Arial, sans-serif;
margin: 0;
color: white;
}

.phone {
width: 320px;
height: 550px;
background: black;
border-radius: 30px;
padding: 10px;
}

.screen {
background: #111827;
height: 100%;
border-radius: 25px;
padding: 25px;
display: flex;
flex-direction: column;
justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.logo img {
  width: 195px;
  height: auto;
  background: transparent;
}

h2 {
text-align: center;
margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

input {
width: 95%;
padding: 5px;
margin-top: 15px;
border-radius: 8px;
border: none;
font-size: 16px;
text-align: center;
}

button {
  width: 45%;
  padding: 12px;
  margin-top: 20px;
  background: linear-gradient(180deg, #0008ff, #000000);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
opacity: 0.9;
}

.receipt {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  width: 90%;
  margin-top: 10px;
}

.receipt p {
  margin: 8px 0;
}

.hidden {
display: none;
}

.checkmark {
font-size: 60px;
text-align: center;
color: #22c55e;
animation: pop 0.4s ease;
}

#success-text {
text-align: center;
margin-top: 10px;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.screen > div {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
